#container {
  width: 400px;
  height: 400px;
  position: relative;
  background-image: url("../images/clock.png");
  background-repeat: round;
  border-radius: 100%;

}
#animate {
  width: 5px;
  height: 150px;
  left:190px;
  top: 60px;
  transform: rotate(20deg);
  position: absolute;
  background: red;
}

#minute{
  width: 15px;
  height: 130px;
  top: 60px;
  left: 190px;
  transform: rotate(20deg);
  position: absolute;
  background: blue;
}
